
<% if flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>

<br />

<div>
  <table border="1" style="text-align:center;">
    <tr>
      <td>User ID</td>
      <td>Plan ID</td>
      <td>Plan Votes</td>
    </tr>

    <% unless @plans.nil? %>
    <% @plans.each do |plan| %>
    <tr>
      <td><%= plan.user_id %></td>
      <td><%= plan.id %></td>
      <td><%= plan.votes %></td>
    </tr>
    <% end %>
    <% end %>
    
  </table>
</div>

