
<div class="module-inner">


  <% if flash[:notice] %>
    <p class="notice"><%=h flash[:notice] %></p>
  <% end %>

  <h1>New user</h1>

  <%= render 'form' %>

  <%= link_to 'Back', users_path %>

  <p class="rt-readon-surround">
    <a class="readon" href="/" >
      <span>Read More...</span>
    </a>
  </p>

</div>


