<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @user.first %>,</p>
    <p>The following is your new password:</p>
    <p><%= @new_pass %></p>
    <p>You can choose a new password by clicking the "Change Password" link under the "Users" tab.</p>
    <p>
      Thank you,
      The CREED Team
    </p>
  </body>
</html>
