<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>HACKER ALERT!</h1>
    <p><%= @user.inspect %></p>
  </body>
</html>
