<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome to creed-bplan.com, <%= @user.first %></h2>
    <p>
      You have successfully signed up.
      your username is: <%= @user.username %><br/>
    </p>
    <p>
      If you forget your password, there is a form on the homepage to be sent a new one.
      If you need to change your password, there is an link in the users tab.
      You can submit a business plan, vote, or both.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>