
<h2>Login</h2>

<%= form_tag login_url, :method => :post do %>
  <fieldset>

    <div style="margin: 0 0 2% 0;">
      <label for="username">Username</label><br />
      <%= text_field_tag :username, params[:username] %>
    </div>

    <div style="margin: 0 0 3% 0;">
      <label for="password">Password</label><br />
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div>
      <%= submit_tag "Login" %>
    </div>

  </fieldset>
<% end %>

