


<ul class="menutop level1" >

  <li class="<% if controller.controller_name == 'home' && controller.action_name == 'index' %>active<% else %><% end %>" >
    <a class="orphan item" href="/">
      <span>CREED Home</span>
    </a>
  </li>
  <li class="<% if controller.controller_name == 'users' %>active<% else %><% end %>" >
    <a class="orphan item subtext" href="/users"  >
      <span>Users<em>you central</em></span>
    </a>
  </li>
  <li class="<% if controller.controller_name == 'plans' %>active<% else %><% end %>" >
    <a class="orphan item subtext" href="/plans"  >
      <span>Plans<em>check them out</em></span>
    </a>
  </li>
  <li class="<% if controller.action_name == 'register' %>active<% else %><% end %>" >
    <a class="orphan item subtext" href="/register"  >
      <span>Register<em>get started today</em></span>
    </a>
  </li>
  <% if logged_in? %>
    <li style="float:right; margin-top: 3%; margin-right: 3%; height: 30px;">
      <%= link_to "Logout", logout_url %>
    </li>
    <li style="color:#285B90;font-size: 1.2em;line-height: 1.8em;float:right; margin-top: 3%; margin-right: 3%; height: 30px;">
      <%=h "Welcome, #{current_user.username}" %>
    </li>
  <% else %>
    <li style="float:right; margin-top: 3%; margin-right: 3%; height: 30px;">
      <a href="/#forgot">Forgot Password?</a>
    </li>
    <li style="float:right; margin-top: 3%; margin-right: 3%; height: 30px;">
      <a href="/#login">Login</a>
    </li>
  <% end %>

</ul>


