
<div class="module-title"><h2 class="title"><span>Contact Information</span></h2></div>
<div class="module-inner">

  <div style="margin:2em 20em 0 2em;">

    <p>
      Wendell Brock<br/>
      Phone: 469-424-2888<br/>
      Email: wwbrock@creedinc.org
    </p>

    <br/>
    
    <p>
      creed-bplan.org Administrator<br/>
      Email: creed-bplan@creed-bplan.org
    </p>

  </div>

</div>



