
<div class="module-inner">

  <div class="module-title"><h2 class="title"><span>New Plan</span></h2></div>
  
<% if flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>

<%= render 'form' %>

</div>


