
<div class="module-inner">

  <div class="module-title"><h2 class="title"><span>New Business Plan</span></h2></div>

  <div style="margin: 2em 15em 0 2em;">
    <p>We are looking for very concise business plans that communicate the essence of your business idea in one page. The plan should be in the format of the standard <a href="http://creedinc.org/CatalogueRetrieve.aspx?CatalogueID=88" target="_blank">One Page Proposal</a>—it will contain the crucial details, but not every detail. Specifically, your plan should address these primary details:</p>

    <ul>
      <li>The <b>Title</b> of your proposal - the headline</li>
      <li>The <b>Target</b> - who are you addressing or has this problem - clarify your goals of how your product/service will solve the problem - include the "pitch"</li>
      <li>The <b>Financial</b> specifics - spell out the numbers</li>
      <li>The <b>Status</b> - where the deal stands now</li>
      <li>The <b>Action</b> - what do you want someone to do - what are you asking for?</li>
    </ul>

    <br />

    <p>Don't worry too much about getting everything perfect. You can see and
        edit your business plan after it is created.</p>

    <p>
      There is no ability to import from a Word document. Use the forms below to format with bold, italics, underlines, bullets, and ordered lists.
      <span style="color:red;">Use the preview button to see how the formatting works.</span>
    </p>
  </div>

  <br />

  <%= render 'form' %>

</div>


