
<div class="module-inner">

  <div class="module-title"><h2 class="title"><span>New Plan</span></h2></div>
  
<% if flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>

  <p>We are looking for very concise business plans that communicate the essence of your business idea in one page. The plan should be in the format of the standard one-page proposal—it will contain the crucial details, but not every detail. Specifically, your plan should address these primary details:</p>
  <ul>
    <li>The <b>Title</b> of your proposal - the headline</li>
    <li>The <b>Target</b> - who are you addressing or has this problem - clarify your goald of how your product/service will solve the problem - include the "pitch"</li>
    <li>The <b>Financial</b> specifics - spell out the numbers</li>
    <li>The <b>Status</b> - where the deal stands now</li>
    <li>The <b>Action</b> - what do you want someone to do - what are you asking for?</li>
  </ul>

  <p>Don't worry too much about getting everything perfect. You can see and
      edit your business plan after it is created</p>

<%= render 'form' %>

</div>


