
<div class="module-inner">

  <div class="module-title"><h2 class="title"><span>New Plan</span></h2></div>
  
<% if flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>

  <p>Don't worry too much about getting everything perfect. You can see and
      edit your business plan after it is created</p>

<%= render 'form' %>

</div>


